body {
	background-image: radial-gradient(circle at center, #ffffffff, #ceccccff, #bebebeff);
    background-color: #ccccccff;
    color: #535353ff;
    scrollbar-color: #535353ff #bebebeff;
}
#line, #line_imago {
    border-color: #c0c0c0;
}
#list_display td {
    border: 0.2vw solid #8b8b8bff;
    background-image: radial-gradient(circle at center, #ffffffff, #ceccccff, #bebebeff);
}
#list_display td:hover {
    border-color: #868686;
    background-image: radial-gradient(circle at center, #ffffffff, #ceccccff, #bebebeff);
}
.tag {
    background-image: radial-gradient(circle at center, #ffffffff, #ceccccff, #bebebeff);
    box-shadow: 0 0 5px 5px #5c5c5c7c;
}
.buttons {
	background-color: #c0c0c0;
	color: #535353ff;
	border: 2px solid #9f9f9f;
}
.buttons:hover {
	background-color: #b0b0b0;
	border-color: #868686;
}
.buttons:active {
	border-color: #606060;
	background-color: #9f9f9f;
    color: #ccccccff;
}
#show, #imago, #obok {
    border: 0.2vw solid #8b8b8bff;
    background-image: radial-gradient(circle at center, #ffffffff, #ceccccff, #bebebeff);
}