body {
	background-image: radial-gradient(circle at center, #242424ff, #202020ff, #1d1d1dff);
    background-color: #ceccccff;
    color: #888888;
    scrollbar-color: #888888 #1d1d1dff;
}
#line, #line_imago {
    border-color: #3b3b3b;
}
#list_display td {
    border: 0.2vw solid #3b3b3b;
    background-image: radial-gradient(circle at center, #242424ff, #202020ff, #1d1d1dff);
}
#list_display td:hover {
    border-color: #666666;
    background-image: radial-gradient(circle at center, #333333ff, #303030ff, #222222ff);
}
.tag {
    background-image: radial-gradient(circle at center, #333333ff, #303030ff, #222222ff);
    box-shadow: 0 0 5px 5px #272727;
}
.buttons {
	background-color: #1f1f1f;
	color: #888888;
	border: 2px solid #4e4e4e;
}
.buttons:hover {
	background-color: #222222;
	border-color: #444444;
}
.buttons:active {
	border-color: #373737;
	background-color: #1a1a1a;
}
#show, #imago, #obok {
    border: 0.2vw solid #3b3b3b;
    background-image: radial-gradient(circle at center, #242424ff, #202020ff, #1d1d1dff);
}