body {
	background-color: #1f0000ff;
	color: #c9c9c9;
}
#left_in, #left_out {
    background-color: #300300ff;
    background-image: url("../../images/stille.png");
	background-position: center;
    background-repeat: no-repeat;
	background-size: cover;
}
#right {
	background-color: #300300ff;
}
#mid {
	background-image: radial-gradient(circle at center, #681b1bff, #660b0bff, #581500ff, #360400ff)	;
    background-color: #ceccccff;
}
.buttons {
	background-color: #440500ff;
	color: #935c56;
	border: 2px solid #250200;
}
.buttons:hover {
	border-color: #2e0300;
}
.buttons:active {
	border-color: #230000;
	background-color: #390400;
}