body {
	background-color: #2b004eff;
	color: #c9c9c9;
}
#left_in, #left_out, #right {
	background-color: #392a5cff;
}
#mid {
	background-image: radial-gradient(circle at center, #4a3e69ff, #443569ff, #2f234dff);
    background-color: #2f234dff;
}
.buttons {
	background-color: #2f234dff;
	color: #6f57a5ff;
	border: 2px solid #4c3c72;
}
.buttons:hover {
	border-color: #3d305b;
}
.buttons:active {
	border-color: #3f325e;
	background-color: #251c3d;
}