body {
	background-color: #55428F;
	color: #c9c9c9;
	scrollbar-color: #3b256eff #5e51acff;
}
#left_in, #left_out {
    background-color: #55428F;
    background-image: url("../../images/matig.png");
	background-position: center;
    background-repeat: no-repeat;
	background-size: cover;
}
.blur, .blur_r {
	backdrop-filter: blur(5px);
}
#right {
	background-color: #55428F;
	background-image: url("../../images/matigr.png");
	background-position: center;
    background-repeat: no-repeat;
	background-size: cover;
}
#mid {
	background-image: radial-gradient(circle at center, #a5a1e0ff, #9387d6ff, #5e51acff)	;
    background-color: #ceccccff;
}
.buttons {
	background-color: #7a6ad6d8;
	color: #3b256eff;
	border: 2px solid #442a7e;
}
.buttons:hover {
	background-color: #7f6eded8;
	border-color: #5d38ac;
}
.buttons:active {
	border-color: #503193;
	background-color: #6154abc4;
}