body {
    background-image: radial-gradient(circle at center, #242424ff, #202020ff, #1d1d1dff);
    color: #888888
}
#back {
	width: 2vw;
	height: 2vw;
	margin: 0.5vw;
	font-size: 0.5vw;
	border-radius: 10px;
	background-color: #1f1f1f;
	color: #888888;
    float: left;
    margin-right: 10vw;
}
hr {
    border-color: #3b3b3b;
    clear: both;
}
#list_display img {
    width: 15vw;
    margin: auto;
}
#list_display td {
    min-height: 16vw;
    height: auto;
    width: 16vw;
    border: 0.2vw solid #3b3b3b;
    border-radius: 1vw;
    text-align: center;
    background-image: radial-gradient(circle at center, #242424ff, #202020ff, #1d1d1dff)	;
}
#list_display {
    margin: auto;
    border-collapse: separate;
    border-spacing: 3.5vw;
}
#list_display td:hover {
    border-color: #666666;
}
.selection {
    width: 7vw;
	height: 2vw;
	margin: 0.5vw;
	font-size: 1vw;
	border-radius: 10px;
	background-color: #1f1f1f;
	color: #888888;
    float: left;
}