body {
	background-color: #141414;
	color: #c9c9c9;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

#m3nu_out, #m3nu_in {
	height: 1.5vw;
	width: 1.5vw;
	margin-top: 0.5vw;
	margin-right: 1vw;
	float: right;
	color: #888888;
	border-radius: 0.5vw;
	font-size: 0.8vw;
	font-weight: bold;
	background-color: #1f1f1f;
	text-align: center;
}
#left_in, #left_out {
	background-color: #262626;
	height: 100vh;
	float: left;
	border-radius: 0 10px 10px 0;
	background-repeat: no-repeat;
	background-size: cover;
}
#left_in {
	width: 5%;
	display: block;
}
#left_out {
	width: 25%;
	display: none;
}
#mid {
	float: left;
	width: 92%;
	height: 100vh;
	background-image: radial-gradient(circle at center, #242424ff, #202020ff, #1d1d1dff)	;
	border-radius: 10px;
}
#right {
	background-color: #262626;
	float: left;
	width: 3%;
	height: 100vh;
	border-radius: 10px 0 0 10px;
}
#settings_btn {
	height: 1.7vw;
	width: 1.7vw;
	border-radius: 1vw;
	background-color: #1f1f1f;
	margin: 23%;
	position: relative;
	bottom: -89vh;
}
#mid img {
	height: 80vh;
}
#mid_img {
	margin: auto;
	margin-top: 9vh;
	height: fit-content;
	width: fit-content;
	vertical-align: middle;
}
#horses_list {
	width: 2vw;
	height: 2vw;
	margin-top: 0.5vw;
	margin-left: 0.5vw;
	font-size: 0.5vw;
	border-radius: 10px;
	background-color: #1f1f1f;
	color: #888888;
}