body {
    background-image: radial-gradient(circle at center, #242424ff, #202020ff, #1d1d1dff)	;
}
#back {
	width: 2vw;
	height: 2vw;
	margin: 0.5vw;
	font-size: 0.5vw;
	border-radius: 10px;
	background-color: #1f1f1f;
	color: #888888;
}
hr {
    border-color: #3b3b3b;
}