body {
	background-image: radial-gradient(circle at center, #681b1bff, #660b0bff, #581500ff, #360400ff);
    background-color: #ceccccff;
    color: #c17269;
	scrollbar-color: #c17269 #360400ff;
}
#right {
	background-color: #300300ff;
	background-image: url("../../../images/stiller.png");
	background-position: center;
    background-repeat: no-repeat;
	background-size: cover;
}
.blur {
	backdrop-filter: blur(5px);
}
.buttons {
	background-color: #440500df;
	color: #935c56;
	border: 2px solid #250200;
}
.buttons:hover {
	background-color: #490500df;
	border-color: #2e0300;
}
.buttons:active {
	border-color: #230000;
	background-color: #390400;
}
.light_hr {
	border: 1px solid #560600df;
}
hr {
	border: 1px solid #5b0600df;
}
#left {
	background-image: radial-gradient(circle at center, #681b1bff, #660b0bff, #581500ff, #360400ff);
	outline: 2px solid #250200;
}
input[type = text] {
	background-image: radial-gradient(circle at center, #681b1bff, #660b0bff, #581500ff, #360400ff);
	color: #c17269;
	border-color: #250200;
}