body {
	background-image: radial-gradient(circle at center, #a5a1e0ff, #9387d6ff, #5e51acff);
    background-color: #9387d6ff;
    color: #3b256eff;
}
#right {
	background-color: #55428F;
	background-image: url("../../../images/matigr.png");
	background-position: center;
    background-repeat: no-repeat;
	background-size: cover;
}
.blur {
	backdrop-filter: blur(5px);
}
.buttons {
	background-color: #7a6ad6d8;
	color: #3b256eff;
	border: 2px solid #442a7e;
}
.buttons:hover {
	background-color: #7f6eded8;
	border-color: #5d38ac;
}
.buttons:active {
	border-color: #503193;
	background-color: #6154abc4;
}