body {
	background-image: radial-gradient(circle at center, #ffffffff, #ceccccff, #bebebeff);
    background-color: #ccccccff;
    color: #535353ff;
}
#right {
	background-image: linear-gradient(to right, #a8a8a8ff, #bebebeff);
	background-color: #ceccccff;
}
.buttons {
	background-color: #c0c0c0;
	color: #535353ff;
	border: 2px solid #9f9f9f;
}
.buttons:hover {
	background-color: #b0b0b0;
	border-color: #868686;
}
.buttons:active {
	border-color: #606060;
	background-color: #9f9f9f;
    color: #ccccccff;
}